name: Build musllinux Docker Image

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Build and load (single platform)
      run: |
        docker buildx build \
          --platform linux/arm64 \  # 单平台
          -t onnxruntime-musllinux:latest \
          --load \
          .

    - name: Test image
      run: docker run --rm onnxruntime-musllinux:latest uname -m
